@import '../../scss/variables.scss';

.moodOptionCard {
  color: $color-primary;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  place-items: center;

  img {
    height: 2em;
    margin-right: 1.2em;
  }

  span {
    text-transform: capitalize;
  }
}