@import '../../../scss/variables.scss';

.handheldSettingsContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-background;
  color: $color-primary;
  z-index: 2;
  padding: 80px 5vw 30px;
}

.handheldSettings {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;

  button {
    grid-column: 1;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    transition: all 0.2s linear;
    background-color: transparent;
    height: fit-content;

    .icon {
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }
  }

  .closeButton {
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .toggleContainer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
  }
}