$blue: #0090ff;
$button-size: 3.4em;

.calendar {
  transition: all 0.2s ease-out;
  position: relative;
  width: 100%;

  .pick-a-mood {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 1.2em;
  }

  &.picking {
    pointer-events: none;

    .pick-a-mood {
      display: flex;
      background-color: rgba(white, 0.9);
    }
  }

  .days {
    display: grid;
    grid-template-columns: repeat(auto-fit, $button-size);
    place-content: center;
    padding: 0;
  }

  .day {
    appearance: none;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $button-size;
    height: $button-size;
    border: 1px solid black;
    margin: 0.3em;
    cursor: pointer;
    outline: none;

    &.today,
    &:hover,
    &:focus-visible {
      border: 2px solid black;
    }
  }
}
