@import '../../../scss/variables.scss';

.handheldNoteEdit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-background;
  z-index: 2;
  padding: 1.4em 1.4em 100px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    position: sticky;

    button {
      box-shadow: none;
      background: none;
      font-weight: bolder;
      font-size: 1.5em;
      color: $color-primary;
    }

    h1 {
      font-size: 1.1em;
      color: $color-primary;
    }
  }

  textarea {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0.5em;
    background-color: transparent;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
  }
}

::placeholder {
  color: $color-muted;
  opacity: 1; 
}

:-ms-input-placeholder {
  color: $color-muted;
}

::-ms-input-placeholder { 
  color: $color-muted;
}

.noEmptyNoteOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
  display: grid;
  place-items: center;
  padding: 20px;

  .noEmptyNote {
    background-color: $color-white;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 30px 20px;
    display: grid;
    row-gap: 30px;

    p {
      text-align: center;
    }
  }
}