@import '../../scss/variables.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}

.modal {
  background-color: $color-white;
  width: 550px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 32px 64px #2C273814;
  padding: 30px 30px 40px;
  position: relative;
  display: grid;
  row-gap: 20px;

  h2 {
    font-size: 20px;
  }

  .button {
    margin-left: auto;
    width: fit-content;
  }

  .body {
    min-height: 100px;
  }

  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.5em;
    transition: all 0.2s linear;

    &:hover {
      opacity: 0.5;
    }
  }
}