@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-ibm: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$color-accent: #0880ae;
$color-warning: #f2ac57;
$color-success: #14a38b;
$color-error: #ff7171;
$color-primary: #2c2738;
$color-secondary: #756f86;
$color-muted: #7c9cbf;
$color-white: #fff;
$color-shade: #dbe2ea;
$color-tint: #ebf4f8;
$color-background: #ebf4f8;
$color-pastel-purple: #a6bbda;