@import '../../scss/variables.scss';

.moodLogItem {
  background-color: $color-pastel-purple;
  color: $color-almost-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 12px 22px;
  border-radius: 22px;
  font-weight: 600;
  transition: all 0.2s linear;

  img {
    height: 2em;
  }

  .desktopDeleteButton {
    display: none;
  }

  &:hover {
    background-color: darken($color-pastel-purple, 10%);

    @media #{$large} {
      .desktopDeleteButton {
        display: grid;
      }
    }
  }

  @media #{$large} {
    span {
      user-select: none;
    }
  }

  @media #{$small, $medium} {
    &.longPressed {
      animation: bump 0.2s ease-in-out;
      background-color: $color-pastel-purple;
      overflow: hidden;
    }
  }
}

@keyframes bump {
  50% {
    transform: scale(1.01);
  }
}